cloudpickle==3.0.0      
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
Farama-Notifications==0.0.4
fonttools==4.53.0
gymnasium==0.29.1
importlib-metadata==8.0.0
importlib-resources==6.4.0
kiwisolver==1.4.5
matplotlib==3.7.5
numpy==1.24.4
packaging==24.1
pillow==10.4.0
pip==21.1.1
psutil==5.9.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
setuptools==56.0.0
six==1.16.0
tqdm==4.66.4
typing-extensions==4.12.2
zipp==3.19.2